version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "all"
    insecure-external-code-execution: allow

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
